.body{
    background: no-repeat center center fixed;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
}

div{
    color: white;
}
#todoList{
     background-color: black; 
     display: inline-block;
}