*{
      /* outline: 1px solid black;      */
}

.body{
    background: no-repeat center center fixed;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

div{
    color: red;
}

.center-text{
    margin: 0 auto;
    height: 40vh;
    text-align: middle;
}

.row1{
    height: 30vh;
    overflow: hidden;
}
.row2{
    height: 40vh;
    overflow: hidden;
}
.row3{
    height: 30vh;
    overflow: hidden;
}
.row4{
    height: 10vh;
}
.row5{
    height: 7vh;
}
.row6{
    height: 16vh;
}

#image-info{
    padding: 0 10px 0 10px;
}

#quote{
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

#todoList{
     background-color: black; 
     font-size: 10px;
     display: inline;
}

#todo{
    background-color: black; 
    display: inline;
}

.full{
    width: 100%;
}

.myInline{
    display: inline;
}

.dark{
    background-color: black; 
    opacity: .8;
}

.weather{
    display: inline;
}

.temp{
    display: inline;
    font-size: 26px;
    padding: 10px;
}

.area{
    font-size: 12px;
    text-align: right;
    padding: 0 25px 0 0;
}

.report{
    text-align: center;
}

.top{
    text-align: right;
}

#clock{
    font-size: 80px;
    text-align: center;
}

#message{
    font-size: 40px;
    text-align: center;
}